@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, rgb(164, 255, 255), rgb(13, 0, 129));
}
main {
    background-color: white;
    border-radius: 10px; /* arredonda as bordas do bloco */
    box-shadow: 5px 5px 15px rgba(7, 1, 61, 0.5); /* adiciona sombra no bloco */
    width: 600px;
    padding: 10px;
    margin: auto; /*centraliza o conteúdo na janela */
}
h1 {
    text-align: center;
    color: rgb(13, 0, 129);
}
p {
    text-align: justify;
}